body {
  background-color: #F6E05E;
}
.container {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  padding: 1rem;
  width: 60%;
  height: 3rem;
  font-size: larger;
  text-align: center;
}